# exclude dotfiles
.vscode/
.idea/
.vs/

# exclude target & builded
*.o                     
*.s                     
*.i                     

tinyrenderer*

# exclude benchmark files
*.out                   
analysis*.txt

*_bench

# exclude output files
*.tga