# exclude dotfiles
.vscode/
.idea/

# exclude target & builded
*.o                     
*.s                     
*.i                     
*.d
build/

tinyrenderer*

# exclude benchmark files
*.out                   
analysis*.txt

# exclude output files
*.tga