# exclude dotfiles
.vscode/
.idea/
.vs/

# exclude target & builded
*.o                     
*.s                     
*.i                     
*.out                   

tinyrenderer
main

# exclude output files
*.tga